@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column text-center align-items-center gap-2">
    <h1 class="display-4">Погода в Москве</h1>
    <a class="btn btn-outline-primary" asp-controller="ImportArchives" asp-action="Index">Загрузка архивов</a>
    <a class="btn btn-outline-primary" asp-controller="ViewArchives" asp-action="Index">Просмотр архивов</a>
</div>
